<!-- app/views/video/index.html.erb -->

<div class="container">
  <h1>All Video Files</h1>

  <div class="row">
    <% @reels.each do |reel| %>
      <div class="col-md-4">
        <div class="card mb-4">
          <% if reel.file.attached? %>
            <video controls class="card-img-top">
              <source src="<%= url_for(reel.file) %>" type="<%= reel.file.content_type %>">
            </video>
          <% else %>
            <div class="card-body">
              <p class="card-text">No video file attached.</p>
            </div>
          <% end %>

        </div>
      </div>
    <% end %>
  </div>
</div>