<div class="col-md-6">
  <div class="card mb-3">
    <video controls class="card-img-top" width="60%">
      <source src="<%= url_for(reel.file) %>" type="<%= reel.file.content_type %>">
    </video>
  </div>
</div>