body {
  max-height: 100vh;
  margin: 0;
  padding: 0;
}
.coursereels-menu {
  position: absolute;
  right: 10%;
  top: 50%;
  margin: 3%;
}
.create-button {
  margin-bottom: 3%;
}
.upload-button {
  margin-bottom: 3%;
}
.page-title {
  text-align: center;
  padding-top: 5rem;
}
